@*inline width style*@
<div class="code" style="width: 420px">
    @*note: inline none-float style*@
    <div id="dual_columns_input" style="float:none;">
        <div>
            @*note: inline none-float style*@
            <h3 style="margin:0">
                加入项目组
            </h3>
            <input checked="checked" data-val="true" data-val-required="The HasJoined field is required." disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/1">自由飞</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

            <ul style="padding-left: 25px;">
                <li>
                    <span style="padding-left: 12px;">
                        <input checked="checked" disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/2">创业家园</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

                        <ul style="padding-left: 25px;">
                            <li>
                                <span style="padding-left: 12px;">
                                    <input id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/4">前台</a>

                                </span>
                            </li>
                            <li>
                                <span style="padding-left: 12px;">
                                    <input checked="checked" disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/5">后台</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

                                </span>
                            </li>
                            <li>
                                <span style="padding-left: 12px;">
                                    <input checked="checked" disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/7">集成</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

                                </span>
                            </li>
                            <li>
                                <span style="padding-left: 12px;">
                                    <input id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/8">管理</a>

                                </span>
                            </li>
                        </ul>
                    </span>
                </li>
                <li>
                    <span style="padding-left: 12px;">
                        <input checked="checked" disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/3">任务管理</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

                        <ul style="padding-left: 25px;">
                            <li>
                                <span style="padding-left: 12px;">
                                    <input id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/9">前台</a>

                                </span>
                            </li>
                            <li>
                                <span style="padding-left: 12px;">
                                    <input checked="checked" disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/10">后台</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

                                </span>
                            </li>
                            <li>
                                <span style="padding-left: 12px;">
                                    <input checked="checked" disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/12">集成</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

                                </span>
                            </li>
                            <li>
                                <span style="padding-left: 12px;">
                                    <input id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/13">管理</a>

                                </span>
                            </li>
                        </ul>
                    </span>
                </li>
                <li>
                    <span style="padding-left: 12px;">
                        <input checked="checked" disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/14">Global</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

                    </span>
                </li>
                <li>
                    <span style="padding-left: 12px;">
                        <input id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/15">首顾科技</a>

                    </span>
                </li>
                <li>
                    <span style="padding-left: 12px;">
                        <input checked="checked" disabled="disabled" id="HasJoined" name="HasJoined" type="checkbox" value="true" /><input name="HasJoined" type="hidden" value="false" />    <a href="/Project/Summary/17">伊屋装饰网</a><span style="margin-left: 8px;" class="reminder">(已加入)</span>

                    </span>
                </li>
            </ul>
            <div id="dual_columns_input_submit">
                <input type="submit" class="submit" id="dual_columns_input_submit_input" value="加入" />
            </div>
        </div>
    </div>
</div>
