<div class="code">
    <select name="select12">
        <option selected="selected">自由飞</option>
        <option>首顾科技</option>
    </select>
    &gt;&gt;
    <select name="select12">
        <option selected="selected">创业</option>
        <option>任务管理</option>
    </select>
    &gt;&gt;
    <select name="select12">
        <option>前台</option>
        <option>后台</option>
        <option>UI</option>
    </select>
</div>