@{
    ViewBag.Title = "个人资料·自由飞·任务管理系统";
    Layout = "~/Views/Shared/_Layout_Dual_Columns.cshtml";
}

<h2>个人资料</h2>
@section Introduction{
    <ul>
        <li>1、称谓/昵称可以重复，用于在任务中显示责任人。建议使用便于记忆区别的真实姓名。字数不超过5个（汉字），如“王超”，“小李”。如果不填写，默认使用用户名并截取。</li>
    </ul>
}