@*Note: inline style width*@
<div class="code" style="width:628px;">
    @*note: inline none-float style*@
    <div id="dual_columns_big_input" style="float:none">
        @*note: inline margin style*@
        <h3 style="margin:0">
            权限管理
        </h3>
        <div style="margin-top: 12px;">
            <span>项目：</span>
            <a href="/Project/Summary/1">自由飞</a>
        </div>
        <table style="margin: 10px 16px;">
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[0].Authorizations[0].Id" type="hidden" value="1" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[0].Authorizations[0].IsEdit" type="checkbox" value="true" /><input name="[0].Authorizations[0].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[0].Authorizations[0].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/2">叶子</a>
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[0].Authorizations[0].CanPublish" type="checkbox" value="true" /><input name="[0].Authorizations[0].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[0].Authorizations[0].CanPublish" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[0].Authorizations[0].CanOwn" type="checkbox" value="true" /><input name="[0].Authorizations[0].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[0].Authorizations[0].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[0].Authorizations[0].CanAdmin" type="checkbox" value="true" /><input name="[0].Authorizations[0].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[0].Authorizations[0].CanAdmin" type="hidden" value="True" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[0].Authorizations[1].Id" type="hidden" value="37" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[0].Authorizations[1].IsEdit" type="checkbox" value="true" /><input name="[0].Authorizations[1].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[0].Authorizations[1].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/1">dk</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[0].Authorizations[1].CanPublish" type="checkbox" value="true" /><input name="[0].Authorizations[1].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[0].Authorizations[1].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[0].Authorizations[1].CanOwn" type="checkbox" value="true" /><input name="[0].Authorizations[1].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[0].Authorizations[1].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[0].Authorizations[1].CanAdmin" type="checkbox" value="true" /><input name="[0].Authorizations[1].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[0].Authorizations[1].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
        </table>
        <div style="margin-top: 12px;">
            <span>项目：</span>
            <a href="/Project/Summary/1">自由飞</a><span>>></span>
            <a href="/Project/Summary/2">创业家园</a>
        </div>
        <table style="margin: 10px 16px;">
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[1].Authorizations[0].Id" type="hidden" value="2" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[1].Authorizations[0].IsEdit" type="checkbox" value="true" /><input name="[1].Authorizations[0].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[1].Authorizations[0].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/2">叶子</a>
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[1].Authorizations[0].CanPublish" type="checkbox" value="true" /><input name="[1].Authorizations[0].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[1].Authorizations[0].CanPublish" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[1].Authorizations[0].CanOwn" type="checkbox" value="true" /><input name="[1].Authorizations[0].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[1].Authorizations[0].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[1].Authorizations[0].CanAdmin" type="checkbox" value="true" /><input name="[1].Authorizations[0].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[1].Authorizations[0].CanAdmin" type="hidden" value="True" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[1].Authorizations[1].Id" type="hidden" value="5" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[1].Authorizations[1].IsEdit" type="checkbox" value="true" /><input name="[1].Authorizations[1].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[1].Authorizations[1].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/1">dk</a>
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[1].Authorizations[1].CanPublish" type="checkbox" value="true" /><input name="[1].Authorizations[1].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[1].Authorizations[1].CanPublish" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[1].Authorizations[1].CanOwn" type="checkbox" value="true" /><input name="[1].Authorizations[1].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[1].Authorizations[1].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[1].Authorizations[1].CanAdmin" type="checkbox" value="true" /><input name="[1].Authorizations[1].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[1].Authorizations[1].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[1].Authorizations[2].Id" type="hidden" value="51" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[1].Authorizations[2].IsEdit" type="checkbox" value="true" /><input name="[1].Authorizations[2].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[1].Authorizations[2].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/6">zl810881283</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[1].Authorizations[2].CanPublish" type="checkbox" value="true" /><input name="[1].Authorizations[2].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[1].Authorizations[2].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[1].Authorizations[2].CanOwn" type="checkbox" value="true" /><input name="[1].Authorizations[2].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[1].Authorizations[2].CanOwn" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[1].Authorizations[2].CanAdmin" type="checkbox" value="true" /><input name="[1].Authorizations[2].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[1].Authorizations[2].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
        </table>
        <div style="margin-top: 12px;">
            <span>项目：</span>
            <a href="/Project/Summary/1">自由飞</a><span>>></span>
            <a href="/Project/Summary/3">任务管理</a>
        </div>
        <table style="margin: 10px 16px;">
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[2].Authorizations[0].Id" type="hidden" value="3" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[2].Authorizations[0].IsEdit" type="checkbox" value="true" /><input name="[2].Authorizations[0].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[2].Authorizations[0].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/2">叶子</a>
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[2].Authorizations[0].CanPublish" type="checkbox" value="true" /><input name="[2].Authorizations[0].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[2].Authorizations[0].CanPublish" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[2].Authorizations[0].CanOwn" type="checkbox" value="true" /><input name="[2].Authorizations[0].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[2].Authorizations[0].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[2].Authorizations[0].CanAdmin" type="checkbox" value="true" /><input name="[2].Authorizations[0].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[2].Authorizations[0].CanAdmin" type="hidden" value="True" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[2].Authorizations[1].Id" type="hidden" value="6" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[2].Authorizations[1].IsEdit" type="checkbox" value="true" /><input name="[2].Authorizations[1].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[2].Authorizations[1].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/1">dk</a>
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[2].Authorizations[1].CanPublish" type="checkbox" value="true" /><input name="[2].Authorizations[1].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[2].Authorizations[1].CanPublish" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[2].Authorizations[1].CanOwn" type="checkbox" value="true" /><input name="[2].Authorizations[1].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[2].Authorizations[1].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[2].Authorizations[1].CanAdmin" type="checkbox" value="true" /><input name="[2].Authorizations[1].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[2].Authorizations[1].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[2].Authorizations[4].Id" type="hidden" value="91" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[2].Authorizations[4].IsEdit" type="checkbox" value="true" /><input name="[2].Authorizations[4].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[2].Authorizations[4].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/41">s1ihome</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[2].Authorizations[4].CanPublish" type="checkbox" value="true" /><input name="[2].Authorizations[4].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[2].Authorizations[4].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[2].Authorizations[4].CanOwn" type="checkbox" value="true" /><input name="[2].Authorizations[4].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[2].Authorizations[4].CanOwn" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[2].Authorizations[4].CanAdmin" type="checkbox" value="true" /><input name="[2].Authorizations[4].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[2].Authorizations[4].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
        </table>
        <div style="margin-top: 12px;">
            <span>项目：</span>
            <a href="/Project/Summary/1">自由飞</a><span>>></span>
            <a href="/Project/Summary/2">创业家园</a><span>>></span>
            <a href="/Project/Summary/4">前台</a>
        </div>
        <table style="margin: 10px 16px;">
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[0].Id" type="hidden" value="7" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[0].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[0].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[0].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/2">叶子</a>
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[0].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[0].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[0].CanPublish" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[0].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[0].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[0].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[0].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[0].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[0].CanAdmin" type="hidden" value="True" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[1].Id" type="hidden" value="19" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[1].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[1].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[1].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/1">dk</a>
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[1].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[1].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[1].CanPublish" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[1].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[1].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[1].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[1].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[1].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[1].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[2].Id" type="hidden" value="46" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[2].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[2].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[2].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/5">yfei</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[2].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[2].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[2].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[2].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[2].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[2].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[2].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[2].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[2].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[3].Id" type="hidden" value="47" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[3].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[3].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[3].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/6">zl810881283</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[3].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[3].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[3].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[3].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[3].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[3].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[3].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[3].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[3].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[4].Id" type="hidden" value="55" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[4].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[4].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[4].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/9">Chaosali</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[4].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[4].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[4].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input checked="checked" data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[4].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[4].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[4].CanOwn" type="hidden" value="True" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[4].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[4].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[4].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[5].Id" type="hidden" value="67" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[5].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[5].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[5].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/20">soft_lugy</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[5].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[5].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[5].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[5].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[5].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[5].CanOwn" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[5].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[5].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[5].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[6].Id" type="hidden" value="86" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[6].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[6].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[6].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/41">s1ihome</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[6].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[6].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[6].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[6].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[6].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[6].CanOwn" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[6].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[6].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[6].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[7].Id" type="hidden" value="124" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[7].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[7].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[7].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/87">xiaoshi</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[7].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[7].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[7].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[7].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[7].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[7].CanOwn" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[7].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[7].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[7].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
            <tr>
                <input data-val="true" data-val-required="The Id field is required." name="[3].Authorizations[8].Id" type="hidden" value="129" />
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The IsEdit field is required." name="[3].Authorizations[8].IsEdit" type="checkbox" value="true" /><input name="[3].Authorizations[8].IsEdit" type="hidden" value="false" />
                    编辑
                    <input name="[3].Authorizations[8].IsEdit" type="hidden" value="False" />
                </td>
                <td style="width: 48px;">
                    <a href="/User/91">dusker</a>
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanPublish field is required." disabled="disabled" name="[3].Authorizations[8].CanPublish" type="checkbox" value="true" /><input name="[3].Authorizations[8].CanPublish" type="hidden" value="false" />
                    发布
                    <input name="[3].Authorizations[8].CanPublish" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanOwn field is required." disabled="disabled" name="[3].Authorizations[8].CanOwn" type="checkbox" value="true" /><input name="[3].Authorizations[8].CanOwn" type="hidden" value="false" />
                    承接
                    <input name="[3].Authorizations[8].CanOwn" type="hidden" value="False" />
                </td>
                <td style="width: 32px">
                    <input data-val="true" data-val-required="The CanAdmin field is required." disabled="disabled" name="[3].Authorizations[8].CanAdmin" type="checkbox" value="true" /><input name="[3].Authorizations[8].CanAdmin" type="hidden" value="false" />
                    管理
                    <input name="[3].Authorizations[8].CanAdmin" type="hidden" value="False" />
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input:checkbox[name$='IsEdit']").click(function (event) {
                if ($(this)[0].checked) {
                    $(this).parent().siblings().find("input:checkbox").attr("disabled", false);
                }
                else {
                    event.preventDefault();
                    return false;
                }
            })
        })
    </script>
</div>
