<div id="footer">
    <div style="float: right; position: relative; top: 3px;">
        <a href="http://co.zyfei.net" target="_blank">
            <img src="/Resource/Image/company-logo.jpg" />
        </a>
        <p style="margin-left: 6px; font-size: 12px; vertical-align: top; float: right;">
            重庆首顾科技有限公司<br />制作发行
        </p>
    </div>
    <div>
        @Html.Partial("Release/_QQ")
    </div>
    <div>
        友情链接：<a href="http://www.zyfei.net" target="_blank">自由飞·创业者的心灵家园</a>
    </div>
</div>
