<div id="header">
    <img id="logo" src="/Resource/Image/logo.jpg" />
    <span id="header_title_small">自由飞·</span> <span id="header_title_big">任务管理系统</span>
    <span id="sample"><a href="/Help" target="_blank">使用说明</a></span>
    @Html.Action("_LoginStatus", "Shared")
</div>
