@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="dual_columns">
    <div id="dual_columns_input">
        @RenderBody()
    </div>
    <div id="dual_columns_description">
        <h2>
            说明</h2>
        @RenderSection("Introduction", true)
    </div>
</div>
<div style="clear: both;">
</div>
@section JavaScript{
    @RenderSection("JavaScript", required: false)
}
