@*inline width style*@
<div class="code" style="width: 678px">
    @*note: inline none-float style*@
    <div id="dual_columns_big_input" style="float: none;">
        @*note: inline margin style*@
        <h3 style="margin:0">
            添加任务
        </h3>
        <table>
            <tr>
                <th>
                    项目:
                </th>
                <td colspan="3">
                    <span id="linked_projects">
                        <select id="CurrentProject_Node" name="CurrentProject.Node" onchange="refreshProject(this);">
                            <option value="7">首顾科技</option>
                            <option value="38">test</option>
                        </select>    <span>>></span>
                        <select id="CurrentProject_Last" name="CurrentProject.Last" onchange="refreshProject(this);">
                            <option selected="selected" value="21">程序</option>
                            <option value="22">策划</option>
                        </select>
                    </span>
                    <span style="font-size: 12px;"><a href="#" id="previous_project" style="display: inline">&lt;&lt;上一级</a> <span id="separator" style="display: none">|</span> <a href="#" id="next_project" style="display: none">下一级&gt;&gt;</a> </span>
                    <input data-val="true" data-val-required="The SelectedProjectHasChild field is required." id="CurrentProject_SelectedProjectHasChild" name="CurrentProject.SelectedProjectHasChild" type="hidden" value="False" /><input data-val="true" data-val-required="The Id field is required." id="CurrentProject_TailSelectedProject_Id" name="CurrentProject.TailSelectedProject.Id" type="hidden" value="21" />
                </td>
            </tr>
            <tr>
                <th>
                    父任务:
                </th>
                <td colspan="3">
                    <input id="TaskItem_Parent_Id" name="TaskItem.Parent.Id" type="text" value="" /><span>(编号)</span><a href="#" id="find">查找</a><br />
                    <span class="field-validation-error" id="not_find" style="display: none">* 无法找到该编号的任务</span>
                </td>
            </tr>
            <tr>
                <th>
                    标题:
                </th>
                <td colspan="3">
                    <input class=" long_textbox" data-val="true" data-val-length="* 标题的长度不能大于255" data-val-length-max="255" data-val-required="* 标题不能为空" id="TaskItem_LiteItem_Title" name="TaskItem.LiteItem.Title" type="text" value="" /><br />
                    <span class="field-validation-valid" data-valmsg-for="TaskItem.LiteItem.Title" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <th class="top_align">
                    内容:
                </th>
                <td class="textarea" colspan="3">
                    <textarea cols="20" id="TaskItem_Body" name="TaskItem.Body" rows="2"></textarea>
                </td>
            </tr>
            <tr>
                <th class="top_align">
                    附件:
                </th>
                <td class="textarea" colspan="3">
                    <div id="upload_files">
                        <input type="file" name="file" onchange="uploadChange(this)" />
                        <span class="reminder">（* 页面提交时上传文件）</span><a href="#" id="upload">继续上传</a><br />
                    </div>
                </td>
            </tr>
            <tr>
                <th>
                    难度:
                </th>
                <td>
                    <select id="TaskItem_Difficulty" name="TaskItem.Difficulty">
                        <option value="">-----</option>
                        <option value="Easiest">很容易</option>
                        <option value="Easy">容易</option>
                        <option value="Common">一般</option>
                        <option value="Hard">困难</option>
                        <option value="Hardest">很困难</option>
                    </select>
                </td>
                <th>
                    工时(分钟):
                </th>
                <td>
                    <input id="TaskItem_ExpectedWorkPeriod" name="TaskItem.ExpectedWorkPeriod" type="text" value="" />
                </td>
            </tr>
            <tr>
                <th>
                    优先级:
                </th>
                <td>
                    <select id="TaskItem_Priority" name="TaskItem.Priority">
                        <option value="">---</option>
                        <option value="Lowest">最低</option>
                        <option value="Low">低</option>
                        <option value="Common">中</option>
                        <option value="High">高</option>
                        <option value="Highest">最高</option>
                    </select>
                </td>
                <th style="width: 100px;">
                    预计完成时间:
                </th>
                <td>

                    <input class="date_picker" data-val="true" data-val-regex="* 日期格式错误" data-val-regex-pattern="\d{4}-\d{2}-\d{2}" id="TaskItem_ExpectedComplete_Date" name="TaskItem.ExpectedComplete.Date" type="text" value="" />
                    <span>
                        <select data-val="true" data-val-required="The Hour field is required." id="TaskItem_ExpectedComplete_Hour" name="TaskItem.ExpectedComplete.Hour">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                        </select> 时
                        <select data-val="true" data-val-required="The Minute field is required." id="TaskItem_ExpectedComplete_Minute" name="TaskItem.ExpectedComplete.Minute">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>
                            <option>34</option>
                            <option>35</option>
                            <option>36</option>
                            <option>37</option>
                            <option>38</option>
                            <option>39</option>
                            <option>40</option>
                            <option>41</option>
                            <option>42</option>
                            <option>43</option>
                            <option>44</option>
                            <option>45</option>
                            <option>46</option>
                            <option>47</option>
                            <option>48</option>
                            <option>49</option>
                            <option>50</option>
                            <option>51</option>
                            <option>52</option>
                            <option>53</option>
                            <option>54</option>
                            <option>55</option>
                            <option>56</option>
                            <option>57</option>
                            <option>58</option>
                            <option>59</option>
                            <option>60</option>
                        </select> 分
                    </span>
                    <br />
                    <span class="field-validation-valid" data-valmsg-for="TaskItem.ExpectedComplete.Date" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <th style="width: 60px;">
                    分配给:
                </th>
                <td>
                    <select id="TaskItem_Owner_Id" name="TaskItem.Owner.Id">
                        <option value="">-----</option>
                        <option value="9">张三</option>
                    </select>
                </td>
                <th>
                    虚任务:
                </th>
                <td>
                    <input data-val="true" data-val-required="The Virtual field is required." id="TaskItem_LiteItem_Virtual" name="TaskItem.LiteItem.Virtual" type="checkbox" value="true" /><input name="TaskItem.LiteItem.Virtual" type="hidden" value="false" />
                    <span class="field-validation-valid" data-valmsg-for="TaskItem.LiteItem.Virtual" data-valmsg-replace="true"></span>
                </td>
            </tr>
            <tr>
                <th style="width: 60px;">
                    验收人:
                </th>
                <td colspan="3">
                    <select id="TaskItem_Accepter_Id" name="TaskItem.Accepter.Id">
                        <option value="">-----</option>
                        <option value="9">张三</option>
                    </select>
                </td>
            </tr>
        </table>
        <div id="dual_columns_big_input_submit">
            <input type="submit" value="创建" id="dual_columns_big_input_submit_input" />
            转到：
            <label>
                <input checked="checked" data-val="true" data-val-required="The Redirect field is required." id="Redirect" name="Redirect" type="radio" value="Current" /> 编辑
            </label> |
            <label>
                <input id="Redirect" name="Redirect" type="radio" value="Child" />子
            </label>
            <label>
                <input id="redirect_brother" name="Redirect" type="radio" value="Brother" />兄弟
            </label>
            <label>
                <input id="Redirect" name="Redirect" type="radio" value="Other" />其他
            </label> 任务 |
            <label>
                <input id="Redirect" name="Redirect" type="radio" value="List" />任务列表
            </label>
        </div>
    </div>
</div>
