@*inline width style*@
<div class="code" style="width: 358px">
    @*note: inline none-float style*@
    <div id="dual_columns_big_description" style="float:none">
        <a name="history"></a>
        <h2>
            任务历史
            <span style="font: 12px normal; margin-left: 24px" class="owner_opt">当前状态：验收</span>
        </h2>
        <table id="task_history" style="margin-top: 16px;">
            <tr>
                <td style="width:118px;">
                    2015-05-14 11:12
                </td>
                <td style="width:32px;">
                    叶子
                </td>
                <td>
                    验收通过，质量为合格 <span>任务</span>
                </td>
            </tr>
            <tr>
                <td style="width:118px;">
                    2015-05-14 09:10
                </td>
                <td style="width:32px;">
                    dk
                </td>
                <td>
                    留言 <span>任务</span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="reminder" style="border: 1px dashed green; padding: 4px">是过期了，后面对这个页面进行了重构这种任务怎么处理？</div>
                </td>
            </tr>
            <tr>
                <td style="width:118px;">
                    2015-05-13 21:33
                </td>
                <td style="width:32px;">
                    叶子
                </td>
                <td>
                    留言 <span>任务</span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="reminder" style="border: 1px dashed green; padding: 4px">
                        <p>
                            确定是这两个revision？
                        </p>
                        <p>
                            即使是，是不是也已经过期了，现在不是这种实现了？
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:118px;">
                    2015-05-11 17:37
                </td>
                <td style="width:32px;">
                    dk
                </td>
                <td>
                    完成任务，等待验收 <span>任务</span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="reminder" style="border: 1px dashed green; padding: 4px">
                        <p>
                            2484&nbsp;
                        </p>
                        <p>
                            2485
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width:118px;">
                    2015-05-11 17:37
                </td>
                <td style="width:32px;">
                    dk
                </td>
                <td>
                    开始工作 <span>任务</span>
                </td>
            </tr>
            <tr>
                <td style="width:118px;">
                    2015-05-11 17:04
                </td>
                <td style="width:32px;">
                    dk
                </td>
                <td>
                    分配给dk，等待承接 <span>任务</span>
                </td>
            </tr>
            <tr>
                <td style="width:118px;">
                    2015-05-11 17:04
                </td>
                <td style="width:32px;">
                    dk
                </td>
                <td>
                    发布任务，等待分配/承接 <span>任务</span>
                </td>
            </tr>
        </table>


    </div>
</div>
