联系我们：
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2282636022&site=qq&menu=yes">
    <img border="0" src="/Resource/Image/qq.gif" alt="点击这里给我发消息" title="点击这里给我发消息" style="position: relative; top:3px;" />
</a>
<span>自由飞</span>