<table width="263" border="1">
    <tr>
        <td width="53">&nbsp;</td>
        <td width="66">图标形状</td>
        <td width="58">父</td>
        <td width="58">子</td>
    </tr>
    <tr>
        <td>叶子</td>
        <td><img src="/Resource/image/leaf-solid-empty.gif" width="12" height="12" /></td>
        <td>有</td>
        <td>无</td>
    </tr>
    <tr>
        <td>枝</td>
        <td><img src="/Resource/image/branch-solid-filled.gif" width="12" height="12" /></td>
        <td>有</td>
        <td>有</td>
    </tr>
    <tr>
        <td rowspan="2">根</td>
        <td rowspan="2"><img src="/Resource/image/root-solid-empty.gif" width="12" height="12" /></td>
        <td>无</td>
        <td>有</td>
    </tr>
    <tr>
        <td>无</td>
        <td>无</td>
    </tr>
</table>