<table width="219" border="1">
    <tr>
        <td width="30">&nbsp;</td>
        <td width="34">图标</td>
        <td width="34">父</td>
        <td width="31">子</td>
        <td width="56">虚任务</td>
    </tr>
    <tr>
        <td rowspan="4">根</td>
        <td><img src="../../../Resource/image/root-solid-filled.gif" width="12" height="12" /></td>
        <td>无</td>
        <td>有</td>
        <td>否</td>
    </tr>
    <tr>
        <td><img src="../../../Resource/image/root-solid-empty.gif" width="12" height="12" /></td>
        <td>无</td>
        <td>无</td>
        <td>否</td>
    </tr>
    <tr>
        <td><img src="../../../Resource/image/root-dashed-filled.gif" width="12" height="12" /></td>
        <td>无</td>
        <td>有</td>
        <td>是</td>
    </tr>
    <tr>
        <td><img src="../../../Resource/image/root-dashed-empty.gif" width="12" height="12" /></td>
        <td>无</td>
        <td>无</td>
        <td>是</td>
    </tr>
    <tr>
        <td rowspan="2">枝</td>
        <td><img src="../../../Resource/image/branch-solid-filled.gif" width="12" height="12" /></td>
        <td>有</td>
        <td>有</td>
        <td>否</td>
    </tr>
    <tr>
        <td><img src="../../../Resource/image/branch-dashed-filled.gif" width="12" height="12" /></td>
        <td>有</td>
        <td>有</td>
        <td>是</td>
    </tr>
    <tr>
        <td rowspan="2">叶子</td>
        <td><img src="../../../Resource/image/leaf-solid-empty.gif" width="12" height="12" /></td>
        <td>有</td>
        <td>无</td>
        <td>否</td>
    </tr>
    <tr>
        <td><img src="../../../Resource/image/leaf-dashed-empty.gif" width="12" height="12" /></td>
        <td>有</td>
        <td>无</td>
        <td>是</td>
    </tr>
</table>