@*inline width style*@
<div class="code" style="width: 628px">
    @*note: inline none-float style*@
    <div id="dual_columns_big_input" style="float: none;">
        <table id="Publish">
            <tr>
                <th>
                    父任务：
                </th>
                <td colspan="3">
                    <input id="TaskItem_Parent_Id" name="TaskItem.Parent.Id" type="text" value="" /><span>(编号)</span><a href="#" id="find">查找</a><br />
                    <span class="field-validation-error" id="not_find" style="display: none">* 无法找到该编号的任务</span>
                </td>
            </tr>
        </table>
    </div>
</div>