@*TODO: this is a temp show*@
<div class="code" style="width: 568px">
    <style type="text/css">
        p {
            @* TODO: do not know why need this *@ 
            margin-bottom: 16px;
        }
        .status {
            margin-left: 8px;
            font-size: 12px;
        }

        .sequence_number {
            margin-right: 6px;
        }

        .sequence_change {
            background-color: Gray;
            border: 1px dashed;
            text-decoration: none;
            color: Black;
            font-size: 12px;
            padding: 2px 4px;
        }
    </style>
    <p style="margin-left:20px">

        <img src="/Resource/Image/root-dashed-filled.gif" /><text>根</text>
        <a href="/Task/Edit/2418" target="_blank">150825</a>
        <span class="status">[开始]</span>
    </p>

    <p style="margin-left:40px">
        <a class="sequence_change" href="/Task/Sequence/2418">改变次序</a>
    </p>
    <p style="margin-left:40px">

        <img src="/Resource/Image/branch-dashed-filled.gif" /><text>枝</text>
        <span class="sequence_number">2</span><a href="/Task/Edit/2419" target="_blank">/Help</a>
        <span class="status">[开始]</span>
    </p>
    <p style="margin-left:40px; font-weight: bold">

        <img src="/Resource/Image/branch-dashed-filled.gif" /><text>枝</text>
        <span class="sequence_number">3</span><a href="/Task/Edit/2424" target="_blank">/Task/List</a>
        <span class="status">[开始]</span>
    </p>
    <p style="margin-left:60px">

        <img src="/Resource/Image/leaf-solid-empty.gif" /><text>叶</text>
        <span class="sequence_number">1</span>
        <a href="/Task/Edit/2425" target="_blank">bug：设置显示列之后不能再恢复到默认所有列</a>
        <span class="status">[验收]</span>
    </p>
</div>