@*Note: inline style width and font-size*@
<div class="code" style="width: 418px; font-size: 12px;">
    <input type="checkbox" name="checkbox42" value="checkbox" />即时刷新 | 
    时间：<a href="_TimeSpan.html">展开</a> | 
    统计：<a href="_Sum.html">开始</a> | 
    <a href="#">设置显示列</a>
</div>