<div class="code">
    <table id="task_list">
        <tr>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_0__Selected" name="ShowColumns[0].Selected" type="checkbox" value="true" /><input name="ShowColumns[0].Selected" type="hidden" value="false" />            <input id="ShowColumns_0__Value" name="ShowColumns[0].Value" type="hidden" value="ID" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_1__Selected" name="ShowColumns[1].Selected" type="checkbox" value="true" /><input name="ShowColumns[1].Selected" type="hidden" value="false" />            <input id="ShowColumns_1__Value" name="ShowColumns[1].Value" type="hidden" value="NodeType" />
            </th>
            <th style="text-align: left">
                <input type="checkbox" checked="checked" disabled="disabled" />
                <input data-val="true" data-val-required="The Selected field is required." id="ShowColumns_2__Selected" name="ShowColumns[2].Selected" type="hidden" value="True" />            <input id="ShowColumns_2__Value" name="ShowColumns[2].Value" type="hidden" value="Title" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_3__Selected" name="ShowColumns[3].Selected" type="checkbox" value="true" /><input name="ShowColumns[3].Selected" type="hidden" value="false" />            <input id="ShowColumns_3__Value" name="ShowColumns[3].Value" type="hidden" value="Publisher" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_4__Selected" name="ShowColumns[4].Selected" type="checkbox" value="true" /><input name="ShowColumns[4].Selected" type="hidden" value="false" />            <input id="ShowColumns_4__Value" name="ShowColumns[4].Value" type="hidden" value="Priority" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_5__Selected" name="ShowColumns[5].Selected" type="checkbox" value="true" /><input name="ShowColumns[5].Selected" type="hidden" value="false" />            <input id="ShowColumns_5__Value" name="ShowColumns[5].Value" type="hidden" value="Difficulty" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_6__Selected" name="ShowColumns[6].Selected" type="checkbox" value="true" /><input name="ShowColumns[6].Selected" type="hidden" value="false" />            <input id="ShowColumns_6__Value" name="ShowColumns[6].Value" type="hidden" value="ExpectedWorkPeriod" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_7__Selected" name="ShowColumns[7].Selected" type="checkbox" value="true" /><input name="ShowColumns[7].Selected" type="hidden" value="false" />            <input id="ShowColumns_7__Value" name="ShowColumns[7].Value" type="hidden" value="ActualWorkPeriod" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_8__Selected" name="ShowColumns[8].Selected" type="checkbox" value="true" /><input name="ShowColumns[8].Selected" type="hidden" value="false" />            <input id="ShowColumns_8__Value" name="ShowColumns[8].Value" type="hidden" value="OverDue" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_9__Selected" name="ShowColumns[9].Selected" type="checkbox" value="true" /><input name="ShowColumns[9].Selected" type="hidden" value="false" />            <input id="ShowColumns_9__Value" name="ShowColumns[9].Value" type="hidden" value="ActualComplete" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_10__Selected" name="ShowColumns[10].Selected" type="checkbox" value="true" /><input name="ShowColumns[10].Selected" type="hidden" value="false" />            <input id="ShowColumns_10__Value" name="ShowColumns[10].Value" type="hidden" value="Delay" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_11__Selected" name="ShowColumns[11].Selected" type="checkbox" value="true" /><input name="ShowColumns[11].Selected" type="hidden" value="false" />            <input id="ShowColumns_11__Value" name="ShowColumns[11].Value" type="hidden" value="Status" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_12__Selected" name="ShowColumns[12].Selected" type="checkbox" value="true" /><input name="ShowColumns[12].Selected" type="hidden" value="false" />            <input id="ShowColumns_12__Value" name="ShowColumns[12].Value" type="hidden" value="Owner" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_13__Selected" name="ShowColumns[13].Selected" type="checkbox" value="true" /><input name="ShowColumns[13].Selected" type="hidden" value="false" />            <input id="ShowColumns_13__Value" name="ShowColumns[13].Value" type="hidden" value="Accepter" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_14__Selected" name="ShowColumns[14].Selected" type="checkbox" value="true" /><input name="ShowColumns[14].Selected" type="hidden" value="false" />            <input id="ShowColumns_14__Value" name="ShowColumns[14].Value" type="hidden" value="PublishTime" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_15__Selected" name="ShowColumns[15].Selected" type="checkbox" value="true" /><input name="ShowColumns[15].Selected" type="hidden" value="false" />            <input id="ShowColumns_15__Value" name="ShowColumns[15].Value" type="hidden" value="AssignTime" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_16__Selected" name="ShowColumns[16].Selected" type="checkbox" value="true" /><input name="ShowColumns[16].Selected" type="hidden" value="false" />            <input id="ShowColumns_16__Value" name="ShowColumns[16].Value" type="hidden" value="LastUpdateTime" />
            </th>
            <th style="text-align: left">
                <input checked="checked" data-val="true" data-val-required="The Selected field is required." id="ShowColumns_17__Selected" name="ShowColumns[17].Selected" type="checkbox" value="true" /><input name="ShowColumns[17].Selected" type="hidden" value="false" />            <input id="ShowColumns_17__Value" name="ShowColumns[17].Value" type="hidden" value="Quality" />
            </th>
        </tr>

        <tr>
            <th rowspan="2">
                编号
            </th>
            <th rowspan="2">
                <select id="SelectedNodeType" name="SelectedNodeType">
                    <option value="">种类</option>
                    <option value="Root">根</option>
                    <option value="Branch">枝</option>
                    <option value="Leaf">叶</option>
                </select>
            </th>
            <th rowspan="2">
                标题
            </th>
            <th rowspan="2">
                <select id="SelectedPublisherId" name="SelectedPublisherId">
                    <option value="">发布人</option>
                    <option value="2">叶子</option>
                    <option value="1">dk</option>
                </select>
            </th>
            <th rowspan="2">
                <a class="sort" href="#" sorttype="priority" direction="True" style=" text-decoration:none">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />
                </a>
                <select id="SelectedPriority" name="SelectedPriority">
                    <option value="">优先级</option>
                    <option value="Lowest">最低</option>
                    <option value="Low">低</option>
                    <option value="Common">中</option>
                    <option value="High">高</option>
                    <option value="Highest">最高</option>
                </select>
            </th>
            <th rowspan="2">
                <select id="SelectedDifficulty" name="SelectedDifficulty">
                    <option value="">难度</option>
                    <option value="Easiest">很容易</option>
                    <option value="Easy">容易</option>
                    <option value="Common">一般</option>
                    <option value="Hard">困难</option>
                    <option value="Hardest">很困难</option>
                </select>
            </th>

            <th colspan="3">
                耗时
            </th>

            <th colspan="2">
                完成日期
            </th>
            <th rowspan="2">
                <select id="dropdownlist_status" name="SelectedStage">
                    <option value="">状态</option>
                    <option value="1">发布</option>
                    <option value="2">分配</option>
                    <option value="3">承接</option>
                    <option value="31">开始</option>
                    <option value="32">暂停</option>
                    <option value="33">完成</option>
                    <option value="34">放弃</option>
                    <option value="36">更新</option>
                    <option value="37">取消</option>
                    <option value="38">协商</option>
                    <option value="41">验收</option>
                    <option value="42">拒收</option>
                    <option value="43">异议</option>
                </select>
                <br />
                <a class="multiple_status" href="/Prefer/Status?projectId=4">多选</a>
            </th>
            <th rowspan="2">
                <select id="SelectedOwnerId" name="SelectedOwnerId">
                    <option value="">承接人</option>
                    <option value="2">叶子</option>
                    <option value="1">dk</option>
                    <option value="5">yfei</option>
                    <option value="6">zl810881283</option>
                    <option value="9">Chaosali</option>
                </select>
            </th>
            <th rowspan="2">
                <select id="SelectedAccepterId" name="SelectedAccepterId">
                    <option value="">验收人</option>
                    <option value="2">叶子</option>
                    <option value="1">dk</option>
                    <option value="5">yfei</option>
                    <option value="6">zl810881283</option>
                    <option value="9">Chaosali</option>
                    <option value="20">soft_lugy</option>
                    <option value="41">s1ihome</option>
                    <option value="87">xiaoshi</option>
                    <option value="91">dusker</option>
                </select>
            </th>

            <th colspan="3">
                时间
            </th>
            <th rowspan="2">
                <select id="SelectedQuality" name="SelectedQuality">
                    <option value="">质量</option>
                    <option value="Qualified">合格</option>
                    <option value="Good">良好</option>
                    <option value="Perfect">完美</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>
                <a class="sort" href="#" sorttype="expected_workperiod" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />预计
                </a>
            </th>
            <th>
                <a class="sort" href="#" sorttype="atual_workperiod" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />实际
                </a>
            </th>
            <th>
                <a class="sort" href="#" sorttype="overDue" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />超期
                </a>
            </th>
            <th>
                <a class="sort" href="#" sorttype="actual_complete" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />实际
                </a>
            </th>
            <th>
                <a class="sort" href="#" sorttype="delay" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />逾期
                </a>
            </th>
            <th>
                <a class="sort" href="#" sorttype="created" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />发布
                </a>
            </th>
            <th>
                <a class="sort" href="#" sorttype="assign" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />分配
                </a>
            </th>
            <th>
                <a class="sort" href="#" sorttype="latestUpdate" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />最后更新
                </a>
            </th>
        </tr>
    </table>
</div>