<div class="code">
    <table id="task_list">
        <tr>
            <th rowspan="2">
                编号
            </th>
            <th rowspan="2">
                <select id="SelectedNodeType" name="SelectedNodeType">
                    <option value="">种类</option>
                    <option value="Root">根</option>
                    <option value="Branch">枝</option>
                    <option value="Leaf">叶</option>
                </select>
            </th>
            <th rowspan="2">
                标题
            </th>
            <th rowspan="2">
                <select id="SelectedPublisherId" name="SelectedPublisherId">
                    <option value="">发布人</option>
                    <option value="2">叶子</option>
                    <option value="1">dk</option>
                </select>
            </th>
            <th rowspan="2">
                <a class="sort" href="#" sorttype="priority" direction="True" style=" text-decoration:none">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />
                </a>
                <select id="SelectedPriority" name="SelectedPriority">
                    <option value="">优先级</option>
                    <option value="Lowest">最低</option>
                    <option value="Low">低</option>
                    <option value="Common">中</option>
                    <option value="High">高</option>
                    <option value="Highest">最高</option>
                </select>
            </th>
            <th rowspan="2">
                <select id="SelectedDifficulty" name="SelectedDifficulty">
                    <option value="">难度</option>
                    <option value="Easiest">很容易</option>
                    <option value="Easy">容易</option>
                    <option value="Common">一般</option>
                    <option value="Hard">困难</option>
                    <option value="Hardest">很困难</option>
                </select>
            </th>


            <th rowspan="2">
                <select id="dropdownlist_status" name="SelectedStage">
                    <option value="">状态</option>
                    <option value="1">发布</option>
                    <option value="2">分配</option>
                    <option value="3">承接</option>
                    <option value="31">开始</option>
                    <option value="32">暂停</option>
                    <option value="33">完成</option>
                    <option value="34">放弃</option>
                    <option value="36">更新</option>
                    <option value="37">取消</option>
                    <option value="38">协商</option>
                    <option value="41">验收</option>
                    <option value="42">拒收</option>
                    <option value="43">异议</option>
                </select>
                <br />
                <a class="multiple_status" href="/Prefer/Status?projectId=4">多选</a>
            </th>
            <th rowspan="2">
                <select id="SelectedOwnerId" name="SelectedOwnerId">
                    <option value="">承接人</option>
                    <option value="2">叶子</option>
                    <option value="1">dk</option>
                    <option value="5">yfei</option>
                    <option value="6">zl810881283</option>
                    <option value="9">Chaosali</option>
                </select>
            </th>
            <th rowspan="2">
                <select id="SelectedAccepterId" name="SelectedAccepterId">
                    <option value="">验收人</option>
                    <option value="2">叶子</option>
                    <option value="1">dk</option>
                    <option value="5">yfei</option>
                    <option value="6">zl810881283</option>
                    <option value="9">Chaosali</option>
                    <option value="20">soft_lugy</option>
                    <option value="41">s1ihome</option>
                    <option value="87">xiaoshi</option>
                    <option value="91">dusker</option>
                </select>
            </th>

            <th colspan="1">
                时间
            </th>
        </tr>
        <tr>
            <th>
                <a class="sort" href="#" sorttype="latestUpdate" direction="True">
                    <img src="/Resource/Image/sort_down.png" class="no_border" />最后更新
                </a>
            </th>
        </tr>
        <tr>
            <td>
                2421
            </td>
            <td>

                <img src="/Resource/Image/leaf-dashed-empty.gif" /><text>叶</text>
            </td>
            <td class="list_title">
                <a href="/Task/Edit/2421" target="_blank" style=" margin-right: 10px;">/Help/Task</a>
                <span>
                    [<a href="/Task/Relation/2421" name="relation">关系</a>]
                </span>
            </td>
            <td>
                叶子
            </td>
            <td></td>
            <td></td>
            <td>
                开始
            </td>
            <td>
                叶子
            </td>
            <td>
                叶子
            </td>
            <td class="wrap_datetime">
                2015-08-25 22:16 <a href="/Task/History/2421" name="history" style=" font-size:12px; margin-left: 6px;">
                    历史
                </a>
            </td>
        </tr>
        <tr>
            <td>
                1492
            </td>
            <td>

                <img src="/Resource/Image/root-solid-empty.gif" /><text>根</text>
            </td>
            <td class="list_title">
                <a href="/Task/Edit/1492" target="_blank" style=" margin-right: 10px;">按效果图美化_ArrowWidget</a>
                <span>
                    [<a href="/Task/Relation/1492" name="relation">关系</a>]
                </span>
            </td>
            <td>
                叶子
            </td>
            <td>
                最高
            </td>
            <td>
                一般
            </td>
            <td>
                分配
            </td>
            <td>
                叶子
            </td>
            <td>
                叶子
            </td>
            <td class="wrap_datetime">
                2015-05-10 21:07 <a href="/Task/History/1492" name="history" style=" font-size:12px; margin-left: 6px;">
                    历史
                </a>
            </td>
        </tr>
        <tr>
            <td>
                1485
            </td>
            <td>

                <img src="/Resource/Image/root-dashed-filled.gif" /><text>根</text>
            </td>
            <td class="list_title">
                <a href="/Task/Edit/1485" target="_blank" style=" margin-right: 10px;">在博客首页显示“热门博客”的widget</a>
                <span>
                    [<a href="/Task/Relation/1485" name="relation">关系</a>]
                </span>
            </td>
            <td>
                叶子
            </td>
            <td>
                最高
            </td>
            <td>
                一般
            </td>
            <td>
                开始
            </td>
            <td>
                dk
            </td>
            <td>
                叶子
            </td>
            <td class="wrap_datetime">
                2015-04-24 00:45 <a href="/Task/History/1485" name="history" style=" font-size:12px; margin-left: 6px;">
                    历史
                </a>
            </td>
        </tr>
        <tr>
            <td>
                1368
            </td>
            <td>

                <img src="/Resource/Image/root-solid-empty.gif" /><text>根</text>
            </td>
            <td class="list_title">
                <a href="/Task/Edit/1368" target="_blank" style=" margin-right: 10px;">退出登录400错误</a>
                <span>
                    [<a href="/Task/Relation/1368" name="relation">关系</a>]
                </span>
            </td>
            <td>
                叶子
            </td>
            <td></td>
            <td></td>
            <td>
                发布
            </td>
            <td>
                <a href="#" id="1368" name="own">承接</a>
            </td>
            <td>
                叶子
            </td>
            <td class="wrap_datetime">
                2015-04-13 07:58 <a href="/Task/History/1368" name="history" style=" font-size:12px; margin-left: 6px;">
                    历史
                </a>
            </td>
        </tr>
        <tr>
            <td>
                1367
            </td>
            <td>

                <img src="/Resource/Image/root-solid-empty.gif" /><text>根</text>
            </td>
            <td class="list_title">
                <a href="/Task/Edit/1367" target="_blank" style=" margin-right: 10px;">添加帮助页面</a>
                <span>
                    [<a href="/Task/Relation/1367" name="relation">关系</a>]
                </span>
            </td>
            <td>
                叶子
            </td>
            <td></td>
            <td></td>
            <td>
                分配
            </td>
            <td>
                叶子
            </td>
            <td>
                叶子
            </td>
            <td class="wrap_datetime">
                2015-04-13 07:27 <a href="/Task/History/1367" name="history" style=" font-size:12px; margin-left: 6px;">
                    历史
                </a>
            </td>
        </tr>
        <tr>
            <td>
                1345
            </td>
            <td>

                <img src="/Resource/Image/root-solid-empty.gif" /><text>根</text>
            </td>
            <td class="list_title">
                <a href="/Task/Edit/1345" target="_blank" style=" margin-right: 10px;">js功能：随滚动条底对齐</a>
                <span>
                    [<a href="/Task/Relation/1345" name="relation">关系</a>]
                </span>
            </td>
            <td>
                叶子
            </td>
            <td>
                高
            </td>
            <td>
                一般
            </td>
            <td>
                分配
            </td>
            <td>
                叶子
            </td>
            <td>
                dk
            </td>
            <td class="wrap_datetime">
                2015-04-09 13:56 <a href="/Task/History/1345" name="history" style=" font-size:12px; margin-left: 6px;">
                    历史
                </a>
            </td>
        </tr>
    </table>
</div>