@*inline width style*@
<div class="code" style="width: 628px">
    @*note: inline none-float style*@
    <div id="dual_columns_big_input" style="float:none">
        <div class="subtitle_container">
            <span class="subtitle_text">
                留言
            </span>
        </div>
        <table>
            <tr id="comment_to" style="clear: both; font-size: 14px;">
                <th style="width:68px">
                    收信人：
                </th>
                <td colspan="3">
                    <label><input checked="checked" id="AddresseeId" name="AddresseeId" type="radio" value="" />无</label>
                    <label><input id="AddresseeId" name="AddresseeId" type="radio" value="2" /> 承接人</label>
                </td>
            </tr>
        </table>
    </div>
</div>