@model FFLTask.SRV.ViewModel.Shared.SplitDateTimeModel
@{
    IList<int> minutes = new List<int>();
    IList<int> hours = new List<int>();
    for (int i = 0; i < 25; i++)
    {
        hours.Add(i);
    }

    for (int i = 0; i < 61; i++)
    {
        minutes.Add(i);
    }
}
@Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "date_picker" })
<span>
    @Html.DropDownListFor(m => m.Hour, new SelectList(@hours)) 时
    @Html.DropDownListFor(m => m.Minute, new SelectList(@minutes)) 分
</span> 
<br />
@Html.ValidationMessageFor(m => m.Date)