#help_container {
    margin: 16px 0 32px 0;
    padding-left: 8px;
}

    #help_container #crumb {
        font-size: 14px;
        font-weight: normal;
        margin-left: 68px;
        padding: 4px 12px 2px 12px;
        border-top: 1px dashed #f00;
        border-bottom: 2px solid #f00;
    }

        #help_container #crumb #outline {
            font: bold 16px "微软雅黑";
        }

        #help_container #crumb a {
            text-decoration: none;
        }

    #help_container ul {
        margin: 6px auto 12px auto;
    }

    #help_container li {
        margin: 3px 0 3px 28px;
    }

    #help_container .ul1 {
        list-style: circle;
        padding-left: 4px;
    }

    #help_container .ul2 {
        padding-left: 4px;
        list-style: disc;
    }

    #help_container .ul3 {
        list-style: square;
    }

    #help_container h1 {
        /*font-size: 32px;*/
        margin: 24px auto 12px auto;
    }

    #help_container h2 {
        /*font-size: 26px;*/
        margin: 20px auto 10px auto;
    }

    #help_container h3 {
        /*font-size: 24px;*/
        margin: 16px auto 8px auto;
    }

    #help_container h4 {
        /*font-size: 19px;*/
        margin: 12px auto 6px auto;
    }

    #help_container h5 {
        /*font-size: 16px;*/
        margin: 8px auto 4px auto;
    }

    #help_container .code {
        border: dashed 2px;
        padding: 6px;
        margin: 8px 0 12px 0;
        background-color: #F9F9F9;
    }

    #help_container .future {
        font-style: italic;
        border: 1px dashed;
    }

    #help_container #flip {
        margin: 28px 0 12px 24px;
    }

        #help_container #flip a {
            font-size: 14px;
            text-decoration: none;
        }

        #help_container #flip span {
            font-size: 16px;
            border-bottom: 2px solid #f00;
            border-top: 1px dashed #f00;
            padding: 6px 12px 2px 8px;
        }

        #help_container #flip .split {
            border: none;
            padding: 0;
            border-left: 1px solid;
            margin: 16px;
        }
