@*inline width style*@
<div class="code" style="width: 628px">
    <div id="dual_columns_big_input" style="float: none;">
        @*note: inline none-float style*@
        <div class="subtitle_container">
            <label>
                <input type="checkbox" value="Accept" name="TaskProcess" edit="Accept" />编辑
            </label>
            <span class="subtitle_text">
                验收
            </span>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var $inputs = $("#Accept").find("input,select,#previous_project,#next_project");
                $inputs.attr("disabled", true);
                $("[edit='Accept']").click(function () {
                    if ($(this).is(":checked")) {
                        $inputs.attr("disabled", false);
                        $("#dual_columns_big_input_submit_input").attr("disabled", false);
                        if (typeof editorBody != "undefined") {
                            editorBody.readonly(false);
                        }
                    } else {
                        $inputs.attr("disabled", true);
                        if (typeof editorBody != "undefined") {
                            editorBody.readonly(true);
                        }
                    }

                    if ($(this).val() == 'Remove') {
                        if ($(this).is(":checked")) {
                            $("[name='InProcess']").attr("disabled", "disabled");
                        }
                        else {
                            $("[name='InProcess']").removeAttr("disabled");
                        }
                    }
                });
            })
        </script>

        <table id="Accept">
            <tr>
                <th class="first_column">
                    验收：
                </th>
                <td>
                    <label><input data-val="true" data-val-required="The HasAccepted field is required." id="TaskItem_HasAccepted" name="TaskItem.HasAccepted" onclick="hideQuality()" type="radio" value="False" />不合格</label>
                    <label><input checked="checked" id="TaskItem_HasAccepted" name="TaskItem.HasAccepted" onclick="showQuality()" type="radio" value="True" />合格</label>
                    <span id="quality">
                        质量：<select id="TaskItem_Quality" name="TaskItem.Quality">
                            <option value="Qualified">合格</option>
                            <option value="Good">良好</option>
                            <option value="Perfect">完美</option>
                        </select>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("[name='HasAccepted']:checked").val() == "False") {
                hideQuality();
            } else {
                showQuality();
            }
        });
        function hideQuality() {
            $("#quality").hide();
        }
        function showQuality() {
            $("#quality").show();
        }
    </script>
</div>
