@*inline width style*@
<div class="code" style="width: 628px">
    <div id="dual_columns_big_input" style="float: none;">
        @*note: inline none-float style*@
        <div class="subtitle_container">
            <span class="subtitle_text">
                验收
            </span>
        </div>
        <table id="Accept">
            <tr>
                <th class="first_column">
                    验收：
                </th>
                <td>
                    合格
                </td>
            </tr>
        </table>
    </div>
</div>
