@*inline width style*@
<div class="code" style="width: 628px">
    @*note: inline none-float style*@
    <div name="InProcess" id="dual_columns_big_input" style="float: none;">
        <div class="subtitle_container">
            <span class="subtitle_text">
                进度
            </span>
        </div>
        <table id="InProcess">
            <tr>
                <th class="first_column">
                    进度：
                </th>
                <td>
                    开始
                </td>
            </tr>
        </table>
    </div>
</div>