@*inline width style*@
<div class="code" style="width: 628px">
    @*note: inline none-float style*@
    <div id="dual_columns_big_input" style="float: none;">
        <div class="subtitle_container">
            <label>
                <input type="checkbox" value="Remove" name="TaskProcess" edit="Remove" />编辑
            </label>
            <span class="subtitle_text">
                取消
            </span>
        </div>
    </div>
    <div style="clear:both"></div>
</div>

